<a href="https://colab.research.google.com/github/Masakinka/Python/blob/main/hw_3_2_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D0%B8_%D1%80%D0%BE%D0%B1%D0%BE%D1%82%D0%B8_%D0%B7_%D0%B4%D0%B0%D0%BD%D0%B8%D0%BC%D0%B8_%D1%83_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнє завдання до теми "Основи роботи з даними у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [3]:
import pandas as pd

1. За допомогою бібліотеки Pandas виведіть перші 4 і останні 4 записи у наборі даних (це дві окремі команди). Треба саме 4! Не 5.

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df = pd.read_csv('drive/MyDrive/Colab Notebooks/data/supermarket_sales.csv')

In [7]:
print(df.head(4))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4

In [8]:
print(df.tail(4))

      Invoice ID Branch      City Customer type  Gender         Product line  \
996  303-96-2227      B  Mandalay        Normal  Female   Home and lifestyle
997  727-02-1313      A    Yangon        Member    Male   Food and beverages
998  347-56-2442      A    Yangon        Normal    Male   Home and lifestyle
999  849-09-3807      A    Yangon        Member  Female  Fashion accessories

     Unit price  Quantity  Tax 5%     Total       Date   Time  Payment  \
996       97.38        10  48.690  1022.490   3/2/2019  17:16  Ewallet
997       31.84         1   1.592    33.432   2/9/2019  13:22     Cash
998       65.82         1   3.291    69.111  2/22/2019  15:33     Cash
999       88.34         7  30.919   649.299  2/18/2019  13:28     Cash

       cogs  gross margin percentage  gross income  Rating
996  973.80                 4.761905        48.690     4.4
997   31.84                 4.761905         1.592     7.7
998   65.82                 4.761905         3.291     4.1
999  618.38                 4.761905        30.919     6.6

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1F5XlzBOOTMsedpsYqz6NnXjIPTDe6jpx)

2. Виведіть рядки даних з індексами з 615 по 619 включно.

In [9]:
print(df.loc[615:619])

      Invoice ID Branch       City Customer type  Gender  \
615  509-29-3912      A     Yangon        Member  Female
616  327-40-9673      B   Mandalay        Member    Male
617  840-19-2096      C  Naypyitaw        Member    Male
618  828-46-6863      A     Yangon        Member    Male
619  641-96-3695      C  Naypyitaw        Member  Female

               Product line  Unit price  Quantity   Tax 5%     Total  \
615       Sports and travel       38.72         9  17.4240  365.9040
616       Sports and travel       72.60         6  21.7800  457.3800
617  Electronic accessories       87.91         5  21.9775  461.5275
618      Food and beverages       98.53         6  29.5590  620.7390
619     Fashion accessories       43.46         6  13.0380  273.7980

          Date   Time      Payment    cogs  gross margin percentage  \
615  3/20/2019  12:24      Ewallet  348.48                 4.761905
616  1/13/2019  19:51         Cash  435.60                 4.761905
617  3/14/2019  18:10      Ewallet  439.55                 4.761905
618  1/23/2019  11:22  Credit card  591.18                 4.761905
619   2/7/2019  17:55      Ewallet  260.76                 4.761905

     gross income  Rating
615       17.4240     4.2
616       21.7800     6.9
617       21.9775     4.4
618       29.5590     4.0
619       13.0380     8.5

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1Otufe_TXRmjZxWigzBiVBLCAVUfEReXM)

3. Виведіть назви колонок у наборі даних разом з їхніми типами. Це можна зробити кількома способами, важливо аби в результаті були назви колонок і відповідні їм типи.

In [10]:
print(df.dtypes)

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

Очікуваний результат (один з можливих форматів):

![](https://drive.google.com/uc?export=view&id=1ASh6-S-_f3X9fTQAPIvnHMFZamTBjNkL)

4. Користуючись методом `DataFrame.describe()` виявіть 1, 25, 50, 75 і 99

---

персентилі колонки `gross income`. Знайдіть, яке значення відповідає 75отму персентилю цієї колонки і що це означає? Як би Ви його пояснили простими словами колегам? Відповідь напишіть текстом в окремій клітинці типу Markdown.

In [12]:
percentiles = df['gross income'].describe(percentiles=[0.01, 0.25, 0.50, 0.75, 0.99])
print(percentiles)

count    1000.000000
mean       15.379369
std        11.708825
min         0.508500
1%          0.913735
25%         5.924875
50%        12.088000
75%        22.445250
99%        45.250750
max        49.650000
Name: gross income, dtype: float64

Наприклад, розташувуэмо всі значення gross income в порядку зростання. Після цього, якщо пійти від найменшого значення до верху списку, то 75-й персентиль - це точка, де ми пройшли 75% всіх значень. Це означає, що лише 25% значень мають більшу величину доходу, ніж ця точка. Тобто, це свого роду "верхня межа середнього класу" у термінах доходу: більшість (75%) заробляють менше цього значення, тоді як меншість (25%) - більше.

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1bDa1YFUWDsPm78Lnpy2geQND8M1HEQiT)

5. Виведіть кількість інвойсів за кожним унікальним містом в наборі даних.

  Підказка: інвойс - це один рядок в цьому наборі даних, ми можемо цим скористатись аби швидко отримати відповідь.

In [13]:
invoice_count_by_city = df['City'].value_counts()
print(invoice_count_by_city)

Yangon       340
Mandalay     332
Naypyitaw    328
Name: City, dtype: int64

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1G8c6M875NOW7oU3OtZegTOnyD2y8lhAV)

6. Виведіть, який відсоток інвойсів припадає на кожне унікальне місто.

In [14]:
percentage_by_city = (invoice_count_by_city / invoice_count_by_city.sum()) * 100
print(percentage_by_city)

Yangon       34.0
Mandalay     33.2
Naypyitaw    32.8
Name: City, dtype: float64

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1yZZpWhL2y8DX9rSRioYCRh1VbJgcf3fY)

7.1. Використовуючи фільтрацію даних, знайдіть середнє значення `gross income` для міст `Yangon` та `Mandalay`. В якому місті воно більше?

7.2 Сформулюйте 3 гіпотези, чому в одному місті gross income вище, як можна дізнатись чи правдива ця гіпотеза з використанням даних (наявних і додаткових), та як висновки з цих гіпотез можна використати для прийняття рішень як підвищити прибуток в мережі супермаркетів. Відповідь напишіть текстом в окремій клітинці типу Markdown.

Це завдання - на продуктове мислення. Якщо не знаєте, які гіпотези сформулювати - напишіть ті, які здаються вам зовсім примітивними. Важливо навчитись висловлювати свої гіпотези щодо даних, і з часом та досвідом вони будуть ставати щоразу глибше і точніше. Весь аналіз даних будується на тому, що ми перевіряємо певні гіпотези та робимо висновки і рекоемндації на основі своїх досліджень.

In [15]:
yangon_mean = df[df['City'] == 'Yangon']['gross income'].mean()
mandalay_mean = df[df['City'] == 'Mandalay']['gross income'].mean()

yangon_mean, mandalay_mean

(14.874001470588235, 15.232024096385542)

Гіпотеза 1: Різниця у популярності категорій продуктів
Гіпотеза полягає в тому, що різні категорії продуктів можуть бути популярнішими в одному місті порівняно з іншим, що може впливати на gross income.

Перевірка:

Подивимося на розподіл продажів по категоріям продуктів у кожному місті.
Визначимо, чи існують відмінності у популярності категорій між містами.

In [16]:
df_filtered = df[df['City'].isin(['Yangon', 'Mandalay'])]
category_income = df_filtered.groupby(['City', 'Product line'])['gross income'].mean().unstack()
print("Середній дохід за категоріями продуктів:\n", category_income)

Середній дохід за категоріями продуктів:
 Product line  Electronic accessories  Fashion accessories  Food and beverages  \
City
Mandalay                   14.763155            12.606234           14.490370
Yangon                     14.537392            15.249775           14.091216

Product line  Health and beauty  Home and lifestyle  Sports and travel
City
Mandalay              17.952075           16.713490          15.351919
Yangon                12.763681           16.422854          15.635754

Гіпотеза 2: Вплив демографічних факторів
Можливо, різниця у gross income пояснюється відмінностями в демографічних характеристиках покупців, наприклад, у віковому складі, статі або типі покупців (регулярні клієнти vs. випадкові).

Перевірка:

Аналіз демографічних даних покупців у кожному місті.
Порівняння середнього gross income між різними групами покупців.

In [17]:
demographic_income = df_filtered.groupby(['City', 'Gender'])['gross income'].mean().unstack()
print("\nСередній дохід за демографічними характеристиками:\n", demographic_income)

Середній дохід за демографічними характеристиками:
 Gender       Female       Male
City
Mandalay  15.557994  14.921394
Yangon    15.755447  14.081193

Гіпотеза 3: Різниця у методах оплати
Можливо, спосіб оплати (готівка, кредитна картка, електронні гроші) впливає на величину покупок, а отже, і на gross income.

Перевірка:

Аналіз розподілу використаних способів оплати в обох містах.
Визначення, чи існують кореляції між способом оплати та величиною gross income.

In [18]:
payment_income = df_filtered.groupby(['City', 'Payment'])['gross income'].mean().unstack()
print("\nСередній дохід за способами оплати:\n", payment_income)

Середній дохід за способами оплати:
 Payment        Cash  Credit card    Ewallet
City
Mandalay  15.298468    16.314922  14.122779
Yangon    14.623918    15.153274  14.861817

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1JdXUmK46WcoXUJYP7NS2SJlr2XjBbpQ8)

8. Для продовження дослідження різниці у прибутках в магазинах давайте зʼясуємо, чи відрізняється маржа ('gross margin percentage') для різних інвойсів в магазині? Перевірте це програмно на даних виходячи з того функціоналу, який ми вже пройшли у лекціях.

Дайте на основі отриманого результату відповідь: "У всіх всіх інвойсах однакова маржа" або "Маржа відрізняється для різних інвойсів".

In [20]:
# Виведення унікальних значень маржі за містами
margin_by_city = df_filtered.groupby('City')['gross margin percentage'].unique()

unique_margins, margin_by_city

(1,
 City
 Mandalay    [4.761904762]
 Yangon      [4.761904762]
 Name: gross margin percentage, dtype: object)

In [24]:
unique_margins = df_filtered['gross margin percentage'].nunique()

# Виведення результату
if unique_margins == 1:
    result = f"У всіх інвойсах однакова маржа := {unique_margins}"
else:
    result = f"Маржа відрізняється для різних інвойсів. Кількість унікальних значень маржі: {unique_margins}"

result
#if unique_margins == 1:
#    print("У всіх інвойсах однакова маржа")
#else:
#    print("Маржа відрізняється для різних інвойсів")

'У всіх інвойсах однакова маржа := 1'

Очікуваний результат: відповідь щодо маржі в усіх інвойсах на основі отриманих результатів

9. Врахуовуючи висновок в попередньому завданні, дослідимо як продаються в цих містах різні категорії товарів. Виведіть відсотковий розпоіділ кількості інвойсів по категоріям товарів `Product line` в містах `Yangon` та `Mandalay`.

In [27]:
distribution = df_filtered.groupby(['City', 'Product line']).size().groupby(level=0, group_keys=False).apply(lambda x: 100 * x / float(x.sum()))
sorted_distribution = distribution.sort_values(ascending=False)
print(sorted_distribution)

City      Product line
Yangon    Home and lifestyle        19.117647
Mandalay  Fashion accessories       18.674699
          Sports and travel         18.674699
Yangon    Electronic accessories    17.647059
          Sports and travel         17.352941
          Food and beverages        17.058824
Mandalay  Electronic accessories    16.566265
          Health and beauty         15.963855
          Food and beverages        15.060241
          Home and lifestyle        15.060241
Yangon    Fashion accessories       15.000000
          Health and beauty         13.823529
dtype: float64

Очікуваний результат для кожного з міст:

![](https://drive.google.com/uc?export=view&id=1IbG58YK5KVqC-wCnllF1btgEgfWTbi_O)

![](https://drive.google.com/uc?export=view&id=1aKOkLmlMq1sOh4GbwyaQyjfhNJzdU4Yh)