<a href="https://colab.research.google.com/github/Masakinka/Python/blob/main/hw_3_3_%D0%A0%D0%BE%D0%B7%D1%88%D0%B8%D1%80%D0%B5%D0%BD%D1%96_%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%B8_%D0%BE%D0%B1%D1%80%D0%BE%D0%B1%D0%BA%D0%B8_%D0%B4%D0%B0%D0%BD%D0%B8%D1%85_%D1%83_Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

In [8]:
df = pd.read_csv('drive/MyDrive/Colab Notebooks/data/supermarket_sales.csv')

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [9]:
sorted_df = df.sort_values(by='Unit price', ascending=False)
print(sorted_df.head(5))

      Invoice ID Branch       City Customer type Gender         Product line  Unit price  Quantity  Tax 5%    Total       Date   Time      Payment    cogs  gross margin percentage  gross income  Rating
983  148-41-7930      C  Naypyitaw        Normal   Male    Health and beauty       99.96         7  34.986  734.706  1/23/2019  10:33         Cash  699.72                 4.761905        34.986     6.1
122  219-22-9386      B   Mandalay        Member   Male    Sports and travel       99.96         9  44.982  944.622   3/9/2019  17:26  Credit card  899.64                 4.761905        44.982     4.2
930  641-62-7288      B   Mandalay        Normal   Male   Home and lifestyle       99.92         6  29.976  629.496  3/24/2019  13:33      Ewallet  599.52                 4.761905        29.976     7.1
494  437-53-3084      B   Mandalay        Normal   Male  Fashion accessories       99.89         2   9.989  209.769  2/26/2019  11:48      Ewallet  199.78                 4.761905         9.989     7.1
283  667-92-0055      A     Yangon        Member   Male    Health and beauty       99.83         6  29.949  628.929   3/4/2019  15:02      Ewallet  598.98                 4.761905        29.949     8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [10]:
# Фільтрування DataFrame за категорією 'Electronic accessories'
electronics = df[df['Product line'] == 'Electronic accessories']

# Знаходження рядка з найбільшою кількістю
max_quantity = electronics['Quantity'].max()
electronics_max_quantity = electronics[electronics['Quantity'] == max_quantity]

# З фільтрованих рядків з максимальною кількістю знаходимо рядок з найбільшою ціною
max_price = electronics_max_quantity['Unit price'].max()
invoice = electronics_max_quantity[electronics_max_quantity['Unit price'] == max_price]

# Виведення рядка з максимальною кількістю і найбільшою ціною
print(invoice)

      Invoice ID Branch    City Customer type Gender            Product line  Unit price  Quantity  Tax 5%    Total       Date   Time  Payment   cogs  gross margin percentage  gross income  Rating
105  704-48-3927      A  Yangon        Member   Male  Electronic accessories       88.67        10  44.335  931.035  1/12/2019  14:50  Ewallet  886.7                 4.761905        44.335     7.3

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [11]:
# Визначення категорії рейтингу на основі значення
def rating_category(rating):
    if rating >= 8:
        return 'High'
    elif rating >= 6:
        return 'Medium'
    else:
        return 'Low'

# Створення нової колонки 'Rating Category'
df['Rating Category'] = df['Rating'].apply(rating_category)

# Перегляд результату
print(df[['Rating', 'Rating Category']].head())

   Rating Rating Category
0     9.1            High
1     9.6            High
2     7.4          Medium
3     8.4            High
4     5.3             Low

In [16]:
# Встановлення меж для категорій
bins = [0, 6, 8, 10]

# Назви категорій
categories = ['Low', 'Medium', 'High']

# Створення нової колонки 'Rating Category' з використанням методу cut
df['Rating Category'] = pd.cut(df['Rating'], bins=bins, labels=categories, include_lowest=True)

# Перегляд результату
print(df[['Rating', 'Rating Category']].head())

   Rating Rating Category
0     9.1            High
1     9.6            High
2     7.4          Medium
3     8.4            High
4     5.3             Low

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [15]:
# Обчислення відсотка для кожної категорії рейтингу
percentage = df['Rating Category'].value_counts(normalize=True) * 100

# Виведення результату
print(percentage)

Medium    35.6
High      32.9
Low       31.5
Name: Rating Category, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [17]:
time = '11:28'

In [18]:
# Функція для отримання години з рядка часу та конвертації в ціле число
def get_hour(time_str):
    # Розділення рядка по двокрапці та конвертація першої частини (години) в ціле число
    return int(time_str.split(':')[0])

# Тестовий час
time = '11:28'

# Виконання функції та перевірка результату
get_hour(time)

11

In [19]:
# Визначення lambda функції для отримання години з рядка часу
get_hour_lambda = lambda time_str: int(time_str.split(':')[0])

# Виконання lambda функції на змінній time
get_hour_lambda(time)

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [20]:
# Створення нової колонки 'Hour'
df['Hour'] = df['Time'].apply(get_hour)

# Перегляд результату
print(df[['Time', 'Hour']].head())

    Time  Hour
0  13:08    13
1  10:29    10
2  13:23    13
3  20:33    20
4  10:37    10

 4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".**

In [21]:
# Розрахунок кількості покупок за кожною годиною
hourly_sales = df['Hour'].value_counts().sort_index()

# Виведення результату
print(hourly_sales)

10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: Hour, dtype: int64

 5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [22]:
# Групування даних за містом і обчислення середнього значення чеку
average_totals_per_city = df.groupby('City')['Total'].mean()

# Виведення результату
print(average_totals_per_city)

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [23]:
# Групування даних за містом і обчислення кількості, середнього, мінімуму, максимуму для 'Total'
city_stats = df.groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])

# Виведення результату
print(city_stats)

           count        mean      min      max
City
Mandalay     332  319.872506  18.6375  1022.49
Naypyitaw    328  337.099715  10.6785  1042.65
Yangon       340  312.354031  12.6945  1039.29

Naypyitaw має найвище середнє значення чеку. Це може вказувати на те, що покупці в Naypyitaw мають вищу купівельну спроможність або що супермаркети в цьому місті пропонують товари, які є більш преміальними або дорожчими. Мережі супермаркетів може бути доцільно розглянути можливість запровадження або розширення асортименту вищого сегменту в цьому місті.

Mandalay та Yangon мають порівняно схожі середні суми чеку, але Yangon має трохи більшу кількість покупок. Це може вказувати на то, що Yangon має більшу або більш активну базу клієнтів. Супермаркетам у Yangon може бути корисно зосередитися на покращенні обслуговування клієнтів та маркетингу для збереження та зростання клієнтської бази.

Максимальні суми чеків є досить високими у всіх трьох містах, що свідчить про наявність покупок великого обсягу. Супермаркетам варто аналізувати, що спонукає до таких покупок, і використовувати цю інформацію для розробки цільових пропозицій.

Базові рекомендації:
1.Аналізувати споживчу поведінку у містах з найбільшими чеками для виявлення можливостей для збільшення продажів.
2 Запровадити програми лояльності для стимулювання повторних покупок у містах з нижчим середнім чеком.
3 Розглянути можливості для розширення в містах з найбільшою кількістю покупок для забезпечення достатньої пропускної спроможності та комфорту покупців.
З цих даних також видно, що всі міста мають порівняну кількість покупок, що може свідчити про наявність стабільної клієнтської бази. Однак, особлива увага на середній чек у Naypyitaw може свідчити про можливості для зростання в цьому місті, особливо якщо ці показники є результатом вибору товарів вищої цінової категорії, а не просто більших обсягів покупок.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [24]:
# Запис оновленої версії DataFrame df в CSV файл
df.to_csv('supermarket_sales_enriched.csv', index=False)

In [25]:
print(df.head(4))

    Invoice ID Branch       City Customer type  Gender            Product line  Unit price  Quantity   Tax 5%     Total       Date   Time      Payment    cogs  gross margin percentage  gross income  Rating Rating Category  Hour
0  750-67-8428      A     Yangon        Member  Female       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019  13:08      Ewallet  522.83                 4.761905       26.1415     9.1            High    13
1  226-31-3081      C  Naypyitaw        Normal  Female  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019  10:29         Cash   76.40                 4.761905        3.8200     9.6            High    10
2  631-41-3108      A     Yangon        Normal    Male      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019  13:23  Credit card  324.31                 4.761905       16.2155     7.4          Medium    13
3  123-19-1176      A     Yangon        Member    Male       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019  20:33      Ewallet  465.76                 4.761905       23.2880     8.4            High    20